In [17]:
med <- read.table("/mnt/d/Common/project/yangyangli/GSEA-med23/med23_gsea.txt", header=T, stringsAsFactors=F)

In [18]:
head(med)

  Name  Description KO        WT
1 Gnai3 NA          212.68553  256.712136
2 Cdc45 NA           23.47954    5.865734
3 Cav2  NA            0.00000    6.670835
4 Klf6  NA          420.67516 1108.623779
5 Cox5a NA           14.87038   36.804607
6 Fer   NA            0.00000    5.175648

In [19]:
name <- med$Name

In [20]:
class(name)

[1] "character"

In [21]:
n <- toupper(name)

In [23]:
name <- as.data.frame(n)

In [24]:
name

      n
1     GNAI3
2     CDC45
3     CAV2
4     KLF6
5     COX5A
6     FER
7     XPO6
8     TFE3
9     AXIN2
10    GNA12
11    DLAT
12    SDHD
13    CCND2
14    GPR107
15    NALCN
16    TSPAN32
17    MID2
18    TRIM25
19    DGKE
20    SCPEP1
21    MNT
22    ITGB2
23    HDDC2
24    CKMT1
25    COMT
26    RTCA
27    DBT
28    DAZAP2
29    MCTS1
30    RNF17
⋮     ⋮
12500 GM44639
12501 GM7443
12502 GM44613
12503 GM20274
12504 GM44835
12505 GM44695
12506 GM44686
12507 GM44986
12508 GM35665
12509 GM10616
12510 GM37494
12511 GM44711
12512 GM44694
12513 GM44920
12514 GM17984
12515 GM45153
12516 GM44616
12517 4933431G14RIK
12518 GM33027
12519 GM44777
12520 GM44553
12521 GM45094
12522 GM44894
12523 GM44760
12524 GM44540
12525 GM32772
12526 GM9521
12527 GM39090
12528 4930533N22RIK
12529 C130083A15RIK

In [25]:
med1 = med[,-1]

In [31]:
colnames(name) <- c("Name")

In [32]:
med <- cbind(name, med1)

In [33]:
head(med)

  Name  Description KO        WT
1 GNAI3 NA          212.68553  256.712136
2 CDC45 NA           23.47954    5.865734
3 CAV2  NA            0.00000    6.670835
4 KLF6  NA          420.67516 1108.623779
5 COX5A NA           14.87038   36.804607
6 FER   NA            0.00000    5.175648

In [36]:
setwd("/mnt/d/Common/project/yangyangli/GSEA-med23")

In [45]:
write.table(med, "med_upper.txt", sep = "\t", quote = F, row.names = F)

In [40]:
head(med)

  Name  Description KO        WT
1 GNAI3 NA          212.68553  256.712136
2 CDC45 NA           23.47954    5.865734
3 CAV2  NA            0.00000    6.670835
4 KLF6  NA          420.67516 1108.623779
5 COX5A NA           14.87038   36.804607
6 FER   NA            0.00000    5.175648